{% extends 'layouts/landing-new.html' %}
{% load static %}

{% block content %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">G-Zone Unicaribe</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Club Universitario</h2>
                        <a class="btn btn-primary" href="{% url 'post-list' %}">Ir al Blog</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->

        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Unete a nuestra comunidad de Gamers en la Unicaribe</h2>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'landing/assets/img/logo-unicaribe.webp' %}" alt="..." />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'landing/assets/img/bg-masthead.jpg' %}" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Club de juegos</h4>
                            <p class="text-black-50 mb-0">Unete a una comunidad en la Universidad del Caribe</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'landing/assets/img/comunidad.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Comunidad</h4>
                                    <p class="mb-0 text-white-50">Para unirte a nosotros solo necesitas ser estudiante de la Universidad</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'landing/assets/img/mensaje.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Mensaje</h4>
                                    <p class="mb-0 text-white-50">.</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Ubicacion</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">Universidad del Caribe</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">200300877@ucaribe.edu.mx</a></div>
                            </div>
                        </div>
                    </div>
 
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://www.facebook.com/GZoneUnicaribe"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </section>
{% endblock content %}